.DS_Store
**/__pycache__/
**/.venv/
**/node_modules/
**/Library/
**/Temp/
**/Obj/
**/Logs/
**/UserSettings/
**/Builds/
**/captures/
**/sessions/
**/exports/
*.apk
*.aab
*.mp4
*.wav
*.rgba
*.raw
*.keystore
*.jks
*.log
**/private/
